body {
  background-color: #242F3F;
  margin-top: 100px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: 100px;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: #987972;
}

.wrapper-inner svg {
  /* position: absolute; */
  position: inline-block;
/*   width: 100%;
height: 100%; */
width: 40px;
height: 40px;
}


.wrapper-inner #shape_1{
  /* animation: shape-1 4s infinite linear;
  animation-timing-function:step-start; */
}

.wrapper-inner #shape_2{
  /* animation: shape-2 4s infinite linear;
  animation-timing-function:step-start; */
}

.wrapper-inner #shape_1 .st0{
  y:20px;
  animation: bla-bla 4s infinite linear;
}

.wrapper-inner #shape_2 #st0{
  y:20px;
animation: progress-square2 4s infinite linear;
}

@keyframes bla-bla {
  0% {
    y: 100px;
  }

  100% {
    y: 0px;
  }
}

@keyframes progress-square2 {
  0% {
    y: 100px;
  }

  100% {
    y: 0px;
  }
}



@keyframes shape-1 {
  0% {
    left:0px;
  }

  20% {
    left:0px;
  }
  21% {
    left:50px;
  }

  100% {
    left:50px;
  }
}

@keyframes shape-2 {
  0% {
    left:50px;
  }

  20% {
    left:50px;
  }
  21% {
    left:0px;
  }

  100% {
    left:0px;
  }
}

/* @keyframes shape-1 {
  0% {
    opacity : 1
  }

  20% {
    opacity : 1;
  }
  21% {
    opacity : 0;
  }

  100% {
    opacity : 0
  }
} */

/* @keyframes shape-2 {

  0% {
    opacity : 0;
  }

  20% {
    opacity : 0;
  }
  21% {
    opacity : 1;
  }

  100% {
    opacity : 1;
  }
}
 */
