.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.domain, .dns, .simple_hosting, .cloud, .ssl_certificates {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  /* animation: a-shapes 2s infinite cubic-bezier(.8,.02,.2,.99); */
  animation: a-shapes 5s infinite ease;
  /* animation: a-shapes 6s infinite cubic-bezier(.8,.02,.2,.99); */
  transform: scale(0,0) rotateZ(180deg);
}

.domain{animation-delay: 0s;}
.simple_hosting {animation-delay: 1.25s;}
.cloud {animation-delay: 2.5s;}
.ssl_certificates {animation-delay: 3.75s;}

@keyframes a-shapes {
  0% {
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  6%{
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  13% {
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  25% {
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}
